h1{
    color: mistyrose;
    font-size: 2rem  !important;
    font-weight: bolder;
}
h2{
    color: mistyrose;
    font-weight: bolder;
    font-size: 1.8rem;
}
.product_title{
    text-align: left;
    color: #941546;
    font-weight: bolder;
    font-size: 2.0rem;
}
label{
    color: rgb(94, 34, 32);
    font-weight: bolder;
    font-size: 1.5rem;
}
.select_size{
    width: 10rem !important;
    display: inline !important;
}
