h1{
    color: mistyrose;
    font-size: 2rem  !important;
    font-weight: bolder;
}
h2{
    color: mistyrose;
    font-weight: bolder;
    font-size: 1.8rem;
}
.product_title{
    text-align: left;
    color: #941546;
    font-weight: bolder;
    font-size: 2.0rem;
}
label{
    color: rgb(94, 34, 32);
    font-weight: bolder;
    font-size: 1.5rem;
}
.select_size{
    width: 10rem !important;
}
/*select:focus > option:checked{ 
    background: rgb(131, 175, 146) !important;
}*/
option {
    -webkit-border-radius:25px; -moz-border-radius:25px; border-radius:25px;
    color:blue;
    background-color:yellow;
}