
@import "./utils/variable_overrides";
@import "./utils/mixins_overrides";
@import "./utils/keyframes_mixins_animation";
@import "./utils/animation";
@import "./base/title_overrides";
@import "./components/buttons";
@import "./layouts/header_overrides";
@import "./layouts/index_css";
@import "./layouts/product_css";
@import "./layouts/panier_css";
@import "./layouts/confirmation_css";
@import "./layouts/footer_overrides";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

:root{
    font-size: 85.5%;
}
*,::before,::after{
    box-sizing: border-box;
}
html,body{
    overflow-x:hidden;
    font-size: 1rem;
}
body{
    position: relative;
    color: $font-color;
    width: 100%;
    margin: 0;
    @include for-small-screen-mobile{
        margin: auto;
        position: relative;
    }  
}
.main{
    max-width: 1800px;
    margin: auto;
    padding: 0 !important;
}
.error_message_connexion{
    text-align: center;
    display: inline-table; /* keep the background color wrapped tight */
    padding:5px;
    font-size:2rem;
    background-color:rgb(229, 189, 186);
    border-radius: .5rem; 
    color: red;
    @include font-weight-text;
}

