@mixin animation-loader {
    animation:fadeout 3s forwards;
    animation-delay: 0.8s;
}
@mixin animation-etire {
    animation: etire 1.2s infinite ease-in-out;
}

@keyframes etire {
    0%, 40%, 100% {
        transform: scaleY(0.4)
    }
    20% {
        transform: scaleY(1);
    }
}

@keyframes fadeout{
    100%{
        opacity: 0;
        z-index: -10;
    }
}

@keyframes shake {
    10%, 90% {
      transform: rotate(-18deg);
    }
    20%, 80% {
      transform: rotate(1deg);
    }
    30%, 50%, 70% {
      transform: rotate(-18deg);
    }
    40%, 60% {
      transform: rotate(1deg);
    }
}

@keyframes vibrate {
  0% {
            transform: translate(0);
  }
  20% {
            transform: translate(-2px, 2px);
  }
  40% {
            transform: translate(-2px, -2px);
  }
  60% {
            transform: translate(2px, 2px);
  }
  80% {
            transform: translate(2px, -2px);
  }
  100% {
            transform: translate(0);
  }
}
