@mixin animation-loader {
    animation:fadeout 3s forwards;
    animation-delay: 0.8s;
}
@mixin animation-etire {
    animation: etire 1.2s infinite ease-in-out;
}

@keyframes etire {
    0%, 40%, 100% {
        transform: scaleY(0.4)
    }
    20% {
        transform: scaleY(1);
    }
}

@keyframes fadeout{
    100%{
        opacity: 0;
        z-index: -10;
    }
}