@mixin flex-align-end {
    display: flex;
    align-items: flex-end;
}
@mixin flex-align-center {
    display: flex;
    align-items: center;
}
@mixin flex-justify-space-around{
    display: flex;
    justify-content: space-around;
} 

/*Font Weight*/
@mixin font-weight-text {
    font-weight: bolder;  
}
/*Background Color*/
@mixin bg-color($colour:$dark-gray){
    background-color: lighten($colour,67%);
}
@mixin location-bg-color($colour:$dark-gray){
    background-color: lighten($colour,60%);
}
@mixin bg-color-white {
    background-color: $white-color;  
}
@mixin footer-bg-color {
    background-color: $dark-gray;
    color: $white-color;
}

/* Shadows */

@mixin header-shadow {
    box-shadow: 0px 0px 6px $dark-gray;
}

@mixin title-box-shadow {
    box-shadow: 0 5px 6px $box-shadow-title;
}
@mixin logo-box-shadow {
    box-shadow: 0 0 .4rem $primary-color;
}

@mixin container-box-shadow {
    box-shadow: 1rem 1rem 1rem 1rem $primary-color !important;
}

@mixin button-shadow {
    box-shadow: 0 0 10px $box-shadow-product;
}

@mixin product-display {
    box-shadow: 0 0 10px $box-shadow-product;
}

@mixin border-radius-2 {
    border-radius: 2rem;  
}
@mixin banner-border-radius {
    border-radius: 0rem 0rem 2rem 2rem;
}

/*For buttons*/
@mixin button-display {
    font-size: map-get($text-font-size , "button-text-size");
    font-weight: bolder;
    margin: 20px 0px 20px 0;
    width: 15rem;
    height: 3rem;
    background-color: $button-color;
    border: none;
    @include border-radius-2;
   @include button-shadow;
}
@mixin button-color {
    background: linear-gradient(to bottom right,$primary-color, $secondary-color, $teritary-color);
}

/*for media queries*/
@mixin for-tablet {
    @media screen and (min-width:map-get($breakpoints, mobile)+1) and (max-width:map-get($breakpoints, tablet)-1){
      @content;
    }
}
@mixin for-mobile {
    @media screen and (max-width:map-get($breakpoints, mobile)){
      @content;
    }
}
@mixin for-small-screen-mobile {
    @media screen and (max-width:map-get($breakpoints, small-screen-mobile)){
        @content;
    }    
}
@mixin for-large-screen {
    @media screen and (min-width:map-get($breakpoints, tablet)+1) and (max-width:map-get($breakpoints, large-screen)){
      @content;
    }
}
 