.cart_icon{
    font-size: 2.5rem;
    color: $primary-color;
    &:hover{
        animation: 2.2s shake linear;
    }
}   

.panier_vider_anim{
    transition: transform 300ms;
    &:hover{
        //transform: scale(0.82);
        animation: vibrate 0.4s linear infinite both;
    }
}

.display_submit{
    @include button-display;
    transition: transform 300ms;
    &:hover{
       transform: scale(1.2);
       @include button-color;
       // background: linear-gradient(to right, #B892EB 0, #B892EB 100%) no-repeat left bottom/0 100% !important;
       // transition: 250ms ease-in-out;
    }
}