h1{
    color: $primary-color;
    font-size: map-get($text-font-size , "header-h1") !important;
    @include font-weight-text;
    @include for-mobile{
        font-size: 1.5rem !important;
    }
}
h2{
    color: $primary-color;
    @include font-weight-text;
    font-size: map-get($text-font-size , "header-h2");
}
h3{
    @include for-mobile{
        font-size: 1.5rem !important;
    }
}
.product_title{
    text-align: left;
    color: $product-title-color;
    @include font-weight-text;
    font-size:map-get($text-font-size , "product-title-size");
}
label{
    color: $label-color;
    @include font-weight-text;
    font-size: map-get($text-font-size , "product-label-size");
}
.select_size{
    width: 10rem !important;
    display: inline !important;
}
a{
    text-decoration: none !important;
    text-align: center;
    color:$title-color !important;
}
.title_index_page{
    @include font-weight-text;
}
