.logo_display{
    width:180px;
    height:60px;
    object-fit: cover;
    border-radius: 1.5rem;
}
.logo_shadow{
   @include logo-box-shadow;
}
.navbar-collapse {
    justify-content: flex-end;
}  
.display_header{
    @include flex-align-end;
}
.title-center{
    height: 70px;
    //margin: 5rem;
    text-align: center;
    font-size: map-get($text-font-size , "for-title-center");
    background-color: $primary-color;
    color: $title-color;
    @include title-box-shadow;
    @include font-weight-text;
}
#content{
    max-width: 100%;
    border: none;
   @include container-box-shadow;
} 
.display_content{
    width:auto;
    @include flex-align-center;
    flex-flow: column;
} 
.icon-size{
    font-size: map-get($text-font-size , "icon-size") !important;
    color : $primary-color;
}
.banner-size{
    width : 100%;
    height : 320px;
    object-fit: cover;
    @include banner-border-radius;
}
.product_image{
    width: 350px;
    height: auto;
    object-fit: cover;
    padding: 1rem;
    @include border-radius-2;
}
.product_list{
    width: 60% !important;
    height: 350px;
    object-fit: cover;
    padding: 3.5rem;
    margin: 5rem;
    background-color: $primary-color;
    @include border-radius-2;
    @include product-display-acceuil;  
    @include flex-justify-space-around;  
}
.resize{
    width: 100% !important;
}
.product_detail{
    @include flex-align-end;
    flex-flow: column;
    justify-content: space-between;
    width: auto;
}
.product_name, .product_rate{
    font-size: map-get($text-font-size , "product-name-rate");
    color: $title-color;
    font-weight: bold;
    display: inline;
}
//product page
.product_display_container{
    margin: 5px;
}
.product_container{
    @include flex-justify-space-around;
}
.product_description{
    @include flex-align-center;
    width: 80%;
    height: 350px;
    @include product-description-display;
}
.product_details_display{
    margin: 5px;
}
.display_submit{
    @include button-display;
}
.product_name_rate{
    display: flex;
    flex-direction: column;
}