.logo_display{
    width:180px;
    height:60px;
    object-fit: cover;
    border-radius: 1.5rem;
    @include for-large-screen {
        height : 60px !important;
    }
}
.logo_shadow{
   @include logo-box-shadow;
}
.navbar-collapse {
    justify-content: flex-end;
}  
.display_header{
    @include flex-align-end;
    @include for-mobile{
        align-items: flex-start;
        flex-direction: column;
    }
}
.icon-size{
    font-size: map-get($text-font-size , "icon-size") !important;
    color : $primary-color;
}
.total_articles{
    color: $primary-color;
    @include font-weight-text;
}
.navbar_override{
    align-items: flex-end;
    width: 100%;
    @include for-mobile{
        @include navbar-override-responsive;
    }
    @include for-tablet{
        @include navbar-override-responsive;
    }
}
.navbar_display{
    display: flex;
}