.title-center{
    height: 70px;
    margin: 5rem;
    text-align: center;
    font-size: map-get($text-font-size , "for-title-center");
    background-color: $primary-color;
    color: $title-color !important;
    line-height: 2.5;
    @include title-box-shadow;
    @include font-weight-text;
    @include for-mobile{
        font-size: 1.3rem !important;
        margin: 0rem;
        line-height: 1.5;
    }
    @include for-tablet{
        font-size: 1.3rem !important;
        margin: 0rem;
        line-height: 1.5;
    }

}

.title_div{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    width: 100%;
    align-items: baseline;
    @include for-mobile{
       flex-direction: column;
       align-items: stretch;
    }
    @include for-tablet{
        flex-direction: column;
        line-height: 1.5;
        align-items: stretch;
    }
}
#content{
    max-width: 100%;
    border: none;
   @include container-box-shadow;
} 
.display_content{
    width:auto;
    @include flex-align-center;
    flex-flow: column;
} 

.banner-size{
    width : 100%;
    
    object-fit: cover;
    @include banner-border-radius;
    @include for-large-screen {
        height : 320px !important;
    }
}
.container_content{
    @include for-mobile{
        padding: 0 !important;
    }
}
.product_image{
    
    height: auto;
    object-fit: cover;
    padding: 1rem;
    @include border-radius-2;
    @include for-large-screen{
        width: 100% !important;
        height: auto;
        object-fit: cover;
        padding: 1rem;
    }
}
.product_list{
    width: 60% !important;
    //height: 350px;
    object-fit: cover;
    padding: 3.5rem;
    margin: 5rem;
    background-color: $primary-color;
    @include border-radius-2;
    @include product-display;  
    @include flex-justify-space-around;  
    transition: transform 300ms;
    &:hover{
        transform: scale(1.102);
    }  
    @include for-mobile {
        flex-direction: column;
        justify-content: center;
        width: 100% !important;
        margin: 2rem;
        padding: 0;
    } 
    @include for-tablet{
        flex-direction: column;
        justify-content: center;
        width: 100% !important;
        margin: 2rem;
    } 
}
.resize{
    width: 100% !important;
}
.product_detail{
    @include flex-align-end;
    flex-flow: column;
    justify-content: space-between;
    width: auto;
    @include for-mobile {
        //flex-direction: column;
        align-items: center;
    } 
    @include for-tablet{
        flex-direction: row;
    } 
}
.product_name, .product_rate{
    font-size: map-get($text-font-size , "product-name-rate");
    color: $title-color;
    font-weight: bold;
    display: inline;
}
.voir_produit{
    line-height: 2.5;
    font-size: 1.3rem !important;
    width:12rem !important;
}
.icon_chevron{
    text-align: center;
    font-size: 3rem;
    color : $title-color;
    transform: scale(1.0);
    transition: transform 300ms;
    @include font-weight-text;
    &:hover{
        color: rgb(219, 88, 202);
        
        transform: scale(1.5);
    }
    
   
}