

//product page

.product_page_display{
    margin-top: 4rem;
}
.product_display_container{
    margin: 5px;
}
.product_container{
    @include flex-justify-space-around;
    margin-top: 5rem;
    height: 650px;
}
.title-center-product{
    line-height: 3.5;
    @include for-large-screen{
        line-height: 2.5;
    }
}
.product_description{
    @include flex-align-center;
    width: 80%;
    height: 650px;
    @include product-display;
    @include for-mobile{
        //height: auto;
        flex-direction: column;
    }
}
.product_details_display{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 5px;
    height: 400px;
}
.color_quantity{
    margin-top: 1rem;
}
.display_submit{
    @include button-display;
    transition: transform 300ms;
    &:hover{
       transform: scale(1.2);
       @include button-color;
       // background: linear-gradient(to right, #B892EB 0, #B892EB 100%) no-repeat left bottom/0 100% !important;
       // transition: 250ms ease-in-out;
    }
}

.product_name_rate{
    display: flex;
    flex-direction: column;
    @include for-mobile {
        width: 100%;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
    } 
    
}
.description{
    font-size: 1.5rem;
}